<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="PHP_CodeSniffer" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">

    <file>src</file>
    <file>tests</file>

    <!-- Start here -->
    <arg name="basepath" value="."/>
    <!-- Only .php -->
    <arg name="extensions" value="php"/>
    <!-- 80 parallel -->
    <arg name="parallel" value="10"/>
    <!-- User cache dir -->
    <arg name="cache" value=".phpcs-cache"/>
    <!-- Show colors -->
    <arg name="colors"/>
    <!-- Show progress -->
    <arg value="p"/>
    <!-- Show sniff names -->
    <arg value="s"/>

    <rule ref="Brainbits">
        <exclude name="PSR1.Files.SideEffects.FoundWithSymbols" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousExceptionNaming.SuperfluousSuffix" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming.SuperfluousSuffix" />
    </rule>
</ruleset>
